<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ '/rg' | prepend: site.absolute_url }}">About</a></li>
      <li><a href="{{ '/rg/schedule' | prepend: site.absolute_url }}">Schedule</a></li>
      <li><a href="{{ '/rg/archive' | prepend: site.absolute_url }}">Archive</a></li>
      <li><a href="{{ '/rg/contact' | prepend: site.absolute_url }}">Contact</a></li>
    </ul>
  </div>
</nav>
